h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: sans-serif;
}
a {
  color:white;
  align-t: center;
  font-family: sans-serif;
}
