h1 {
    color: Black;
    text-align: center;
    font-family: sans-serif;
}

p {
    color: black;
    text-align: center;
    font-family: sans-serif;
}
a {
  color:black;
  align-t: center;
  font-family: sans-serif;
}
