h1 {
    color: Blue;
    text-align: center;
    font-family: sans-serif;
}

p {
    color: black;
    text-align: center;
    font-family: sans-serif;
}
a {
  color:black;
  align-text: center;
  font-family: sans-serif;
}
h2 {
  Color: Black;
  text-align: left;
  font-family: sans-serif;
}

<style>
    @media (min-width: 500px) {
        h1::before {
            content: " ";
        }
    }

    @media (max-width: 499px) {
        h1::before {
            content: " ";
        }
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

</style>
